@* UI bit that represents a single entry, supposed to be used in MainViewWeek. *@

@using ASBNApp.Frontend.Interfaces
@using ASBNApp.Frontend.Models

@inject IASBNDataService dataService;
@inject IDialogService dialogService;


<MudPaper Outlined="true" Class="pa-5 ma-5">
    <MudGrid>
        @* Name of the day *@
        <MudItem xs="3">
            <MudText Typo="Typo.h4"> @CurrentEntry.Date.DayOfWeek </MudText>
        </MudItem>

        @* Date picker *@
        <MudItem xs="3">
            <MudDatePicker Label="Date" @bind-Date="Date" MinDate="@_minDateValue" MaxDate="@_maxDateValue" />
        </MudItem>

        @* Location selector *@
        <MudItem xs="3">
            @if (WorkLocations.Count != 0)
            {
                <MudSelect T="WorkLocation" Value="SelectedWorkLocation" Label="Select Location" AnchorOrigin="Origin.BottomCenter" ValueChanged="@UpdateWorkHoursFromLocation">
                    @foreach (var location in WorkLocations)
                    {
                        <MudSelectItem Value="location">@location.LocationName</MudSelectItem>
                    }
                </MudSelect>
            }
            else
            {
                <MudAlert Severity="Severity.Warning" Dense="true">
                    No data available, please add new work location in settings.
                    <MudLink Href="settings" Underline="Underline.Always" Typo="Typo.body2">Settings Page</MudLink>
                </MudAlert>
            }
        </MudItem>

        @* Location hours input *@
        <MudItem xs="3">
            <MudStack Row>
                <MudNumericField @bind-Value="CurrentEntry.Hours" Label="Select hours" Min="0" Format="N1" />

                <MudMenu Icon="@Icons.Material.Filled.MoreVert" AnchorOrigin="Origin.BottomLeft" TransformOrigin="Origin.CenterRight">
                    @if (!string.IsNullOrWhiteSpace(CurrentEntry.Note))
                    {
                        <MudMenuItem OnClick="DeleteEntry">
                            <div class="d-flex align-center">
                                <MudIcon Icon="@Icons.Material.Filled.Delete" Title="Delete" />
                                <MudText Typo="Typo.button" Class="ps-4">Delete entry</MudText>
                            </div>
                        </MudMenuItem>
                    }
                    else
                    {
                        <MudMenuItem Disabled>
                            <MudText>No action available.</MudText>
                        </MudMenuItem>
                    }
                </MudMenu>
            </MudStack>
        </MudItem>

        @* Text *@
        <MudItem xs="12">
            <MudTextField T="string" @bind-Text="CurrentEntry.Note" Label="And I learned this today:" AutoGrow Lines="3" MaxLines="5" />
        </MudItem>
    </MudGrid>
</MudPaper>


@code {
    [Parameter]
    public List<WorkLocation> WorkLocations { get; set; }
    [Parameter]
    public Entry CurrentEntry { get; set; }
    [Parameter]
    public EventCallback<int> OnItemDeleted { get; set; }

    // Week & year variables to set min and max values for the date picker
    private int? _selectedWeek;
    [Parameter]
    public int? SelectedWeek
    {
        get => _selectedWeek;
        set
        {
            _selectedWeek = value;
            UpdateMinMaxDates();
        }
    }

    private int? _selectedYear;
    [Parameter]
    public int? SelectedYear
    {
        get => _selectedYear;
        set
        {
            _selectedYear = value;
            UpdateMinMaxDates();
        }
    }

    private DateTime _date;
    private DateTime? Date 
    { 
        get => _date; 
        set 
        {
            _date = (DateTime)value;
            CurrentEntry.Date = (DateTime)value;
        }
    }
    DateHandler dateHandler = new DateHandler();

    // Min & max values for the date picker.
    private DateTime? _minDateValue;
    private DateTime? _maxDateValue;

    WorkLocation? SelectedWorkLocation { get; set; }

    protected override void OnInitialized()
    {
        try
        {
            SelectedWorkLocation = WorkLocations.First(l => l.Id == CurrentEntry.LocationId);
        }
        catch
        {
            Console.WriteLine("Test");
        }

        UpdateMinMaxDates();
        UpdateWorkHoursFromLocation(SelectedWorkLocation);
    }

    /// <summary>
    /// Show confirmation dialog, if user confirms this calls the dataService to 
    /// delete the entry and then update the local list of Entries.
    /// </summary>
    /// <returns></returns>
    private async Task DeleteEntry()
    {
        var dialogCancelled = await OpenConfirmationDialogAsync();
        if (dialogCancelled) { return; }

        bool success = await dataService.DeleteDay(CurrentEntry.Id);
        if (success)
        {
            OnItemDeleted.InvokeAsync((int)CurrentEntry.Id);
        }
    }

    /// <summary>
    /// Handles creating a confirmation dialog, returns the result as bool.
    /// </summary>
    /// <returns>True if the user cancelled the popup, false if not.</returns>
    private async Task<bool> OpenConfirmationDialogAsync()
    {
        var parameters = new DialogParameters<DialogTemplate>
        {
            { x => x.ContentText, $"Do you really want to delete the entry for {CurrentEntry.Date.DayOfWeek} ({CurrentEntry.Date.ToShortDateString()})? This process cannot be undone." },
            { x => x.ButtonText, "Delete" },
            { x => x.Color, Color.Error }
        };
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var dialog = await dialogService.ShowAsync<DialogTemplate>("Delete entry?", parameters, options);
        var result = await dialog.Result;
        return result.Canceled;
    }

    /// <summary>
    /// Updates min and max dates for the date picker in a given week.
    /// </summary>
    private void UpdateMinMaxDates()
    {
        if (SelectedWeek != null && SelectedYear != null)
        {
            Date = CurrentEntry.Date;

            // set values for min and max in the date picker
            _minDateValue = dateHandler.GetFirstDateOfWeek((int)SelectedWeek, (int)SelectedYear);
            _maxDateValue = dateHandler.GetLastDateOfWeek((int)SelectedWeek, (int)SelectedYear);
        }
    }

    /// <summary>
    /// Add suggested hours to the ui input based on the selected work location.
    /// </summary>
    public void UpdateWorkHoursFromLocation(WorkLocation? workLocation) 
    {
        try
        {
            var location = WorkLocations.First(l => l.Id == workLocation.Id);
            SelectedWorkLocation = location;
            CurrentEntry.LocationId = location.Id;
            CurrentEntry.Hours = location.SuggestedHours;
            StateHasChanged();
        } 
        catch (Exception e)
        {
            Console.WriteLine($"No location available, not assigning any values. Exception: {e.Message}");
        }
    }
}